@media screen and (min-width: 1440px) {
    header {
        background-color: transparent;
        transition: .5s;
    }
    .hWrap {
        padding: 0;
        width: 90%;
        margin: 40px auto 0;
    }
    /* 로고, 햄버거 메뉴 */
    .hrow1 {
        display: block;
        text-align: center;
    }
    .hrow1 .logo img {
        width: 40px;
    }
    .hrow1 .hamMenu {
        display: none;
    }
    /* 오페라 글라스, 유틸 */
    .hrow2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid white;
        margin-top: 20px;
    }
    .hrow2 .glass {
        padding: 8px 12px;
        border: 1px solid white;
        color: white;
        font-size: 18px;
    }
    .hrow2 .util {
        display: flex;
        font-size: 18px;
        color: white;
    }
    .hrow2 .util li {
        margin: 0 20px;
    }
    /* 메뉴 */
    .hrow3 {
        display: block;
    }
    .hrow3 .gnb {
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
    }
    .hrow3 .gnb h3 {
        font-size: 24px;
        /* margin-bottom: 10px; */
        cursor: pointer;
    }
    .hrow3 .gnb > li {
        margin: 0 50px;
    }
    .hrow3 .menu {
        /* display: none; */
        justify-content: center;
        position: fixed;
        left: 0;
        width: 100%;
        font-size: 24px;
        border-top: 1px solid white;
        padding-bottom: 0;
    }
    .hrow3  .menu > li {
        margin: 10px 50px;
    }
    .hrow3 .menu > li:last-child {
        margin-bottom: 0px;
    }
    /* header 클릭 시 */
    header.active,
    header.active .menu {
        background-color: white;
    }
    header.active .glass,
    header.active .hrow2, 
    header.active .util,
    header.active .gnb {
        color: black;
        border-color: black;
    }
    /* 헤더 스크롤 시 */
    header.header-color .hrow2 {
        border-bottom: 1px solid #aaa;
    }
    header.header-color .glass {
        color: #aaa;
        border: 2px solid #aaa;
    }
    header.header-color .util {
        color: #aaa;
    }
    header.header-color .gnb {
        color: #aaa;
    }
    /* 헤더 끝 */

    /* 메인 배너 */
    .s1 {
        width: 100%;
        height: 100vh;
    }
    .s1 .wrap > div a {
        display: block;
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .s1 .wrap .poster1 a {
        background-image: url('../images/main_banner1.png');
    }
    .s1 .wrap .poster2 a {
        background-image: url('../images/main_banner2.png');
    }
    .s1 .wrap .poster3 a {
        background-image: url('../images/main_banner3.png');
    }
    .s1 .mobile_img {
        display: none;
    }
    .s1 ul.slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 30px 0;
        background-color: rgba(0, 0, 0, .4);
    }
    .s1 ul.slick-dots button {
        display: block;
        position: relative;
        border: 0;
        width: 150px;
        height: 215px;
        margin: 0 5px;
        font-size: 0;
    }
    .s1 .slick-dots li:nth-child(1) button {
        background: url('../images/main_poster1.jpg') no-repeat center / cover;
    }
    .s1 .slick-dots li:nth-child(2) button {
        background: url('../images/main_poster2.jpg') no-repeat center / cover;
    }
    .s1 .slick-dots li:nth-child(3) button {
        background: url('../images/main_poster3.jpg') no-repeat center / cover;
    }
    /* 활성화 중인 버튼 */
    .s1 .slick-dots li.slick-active button {
        border: 5px solid #aaa;
    }
    .s1 .slick-dots li.slick-active button:before {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }

    /* 검색, 카테고리 */
    .s2 {
        margin: 200px auto;
    }
    .s2 form {
        width: 953px;
    }
    .s2 form input {
        font-size: 34px;
        height: 90px;
        border: 5px solid #ccc;
        border-radius: 90px;
        padding: 0 30px;
    }
    .s2 form button {
        right: 40px;
        font-size: 34px;
    }
    .s2 .icon_view {
        width: 953px;
        margin: 150px auto 0;
    }
    .s2 .icon {
        font-size: 48px;
    }
    .s2 .icon p {
        font-size: 18px;
    }

    /* 공연 안내 */
    .s3 {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 100px;
    }
    .s3 h2 {
        font-size: 64px;
    }
    .s3 .list {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .s3 .list > li {
        font-size: 24px;
    }
    .s3 .content .concert {
        margin: 0 15px;
    }
    .s3 .content .date {
        font-size: 18px;
    }
    .s3 .pic {
        position: relative;
    }
    .s3 .over {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        backdrop-filter: blur(10px);
    }
    .s3 .over p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 8px 28px;
        background-color: #DA2127;
        color: white;
        font-weight: bold;
    }
    .s3 .concert:hover .over {
        display: block;
    }
    /* 공지사항 */
    .s4 {
        width: 90%;
        margin: 150px auto 0;
        padding-bottom: 100px;
    }
    .s4 h2 {
        font-size: 64px;
    }
    .s4 h2 > a {
        display: inline-block;
        margin: 20px auto 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        color: #ccc;
    }
    .s4 .notice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
    }
    .s4 .ntcImgBox {
        width: 40%;
    }
    .s4 .ntcInfoBox {
        width: 60%;
        margin-left: 30px;
        margin-top: 0;
    }
    .s4 .ntcInfoBox > div:first-child {
        margin-top: 0;
    }
    .s4 .ntcInfoBox > div a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .s4 .ntcInfoBox .ntc_tit span {
        font-size: 24px;
    }
    .s4 .ntcInfoBox .ntc_cont {
        font-size: 24px;
        margin: 16px 0;
    }
    .s4 .ntcInfoBox .ntc_date {
        display: block;
        font-size: 24px;
    }
    .s4 .ntcMore {
        display: none;
    }
    /* 뉴스 */
    .s5 {
        width: 90%;
        margin: 150px auto 0;
    }
    .s5 h2 {
        font-size: 64px;
    }
    .s5 .newsWrap {
        display: flex;
        margin-top: 100px;
        justify-content: space-between;
    }
    .s5 .newsWrap .news_item {
        width: 24%;
        height: 500px;
        margin: 0;
    }
    .s5 .newsWrap .news_img {
        height: 350px;
    }
    .s5 .newsWrap .news_cont {
        font-size: 20px;
        padding: 20px;
    }
    .s5 .newsWrap .news_more {
        font-size: 18px;
        bottom: 20px;
        right: 20px;
    }

    /* footer */
    footer {
        margin-top: 300px;
    }
    footer .fWrap {
        width: 90%;
        margin: 0 auto;
    }
    footer .frow1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    footer .frow1 > div {
        display: flex;
        align-items: center;
    }
    footer .frow1 .map {
        display: flex;
        margin-left: 30px;
        font-size: 16px;
    }
    footer .frow1 .map li:before {
        content: '|';
        margin: 0 10px;
    }
    footer .frow1 .map li:first-child::before,
    footer .frow1 .map li:last-child::before {
        content: none;
    }
    footer .frow1 .sns li {
        font-size: 32px;
        margin: 0 20px;
    }
    footer .frow2 {
        font-size: 16px;
    }
}