/* 헤더 뒷배경 */
.back_bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(10px);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    /* background-color: white; */
    color: black;
}

.hWrap {
    padding: 20px;
}
/* 로고, 햄버거메뉴 */
.hrow1 {
    display: flex;
    justify-content: space-between;
}
.hrow1 .logo img {
    width: 25px;
}
.hrow1 .hamMenu {
    position: relative;
    width: 28px;
    height: 25px;
    cursor: pointer;
}
.hrow1 .hamMenu span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: white;
    border-radius: 7px;
}
.hrow1 .hamMenu span:nth-child(1) {
    top: 0;
}
.hrow1 .hamMenu span:nth-child(2) {
    top: calc(50% - 3px);
}
.hrow1 .hamMenu span:nth-child(3) {
    top: calc(100% - 6px);
}
/* 오페라 글라스, 유틸 */
.hrow2 {
    display: none;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.hrow2 .glass {
    padding: 8px 12px;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 14px;
}
.hrow2 .util {
    display: flex;
    font-size: 14px;
    color: #ccc;
}
.hrow2 .util li {
    margin: 0 5px;
}
/* 메뉴 */
.hrow3 {
    display: none;
}
.hrow3 .gnb {
    text-align: center;
}
.hrow3 .gnb h3 {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}
/* gnb 마우스오버 시, 클릭 시 */
.hrow3 .gnb h3:hover,
.hrow3 h3.active {
    color: #DA2127;
}
.hrow3 .gnb > li {
    margin-bottom: 10px;
}
.hrow3 .menu {
    display: none;
    font-size: 16px;
}
.hrow3  .menu > li {
    margin-bottom: 9px;
}
.hrow3 .menu > li:last-child {
    margin-bottom: 20px;
}
.hrow3 .menu > li a {
    position: relative;
}
/* header, util, gnb 활성화 */
header.on {
    background-color: white;
}
.hamMenu.on span {
    background-color: #ccc;
}
.hrow2.on {
    display: flex;
}
.hrow3.on {
    display: block;
}
/* gnb 마우스오버시 밑줄 */
.hrow3 .menu > li a::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    width: 0;
    border-bottom: 5px solid #DA2127;
    transition: width .5s;
}
.hrow3 .menu > li a:hover:before {
    left: 0;
    right: auto;
    width: 100%;
}
/* 헤더 끝 */

/* 메인 배너 */
.s1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.s1 .wrap {
    position: relative;
}
.s1 .mobile_img {
    width: 100%;
}
.s1 .pc_img {
    display: none;
}
.s1 .slick-dots {
    display: none;
}

@media screen and (min-width: 786px) {
    header {
        background-color: transparent;
    }
    .hWrap {
        padding: 0;
        width: 90%;
        margin: 40px auto;
    }
    /* 로고, 햄버거 메뉴 */
    .hrow1 {
        display: block;
        text-align: center;
    }
    .hrow1 .logo img {
        width: 40px;
    }
    .hrow1 .hamMenu {
        display: none;
    }
    /* 오페라 글라스, 유틸 */
    .hrow2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .hrow2 .glass {
        padding: 8px 12px;
        border: 1px solid white;
        color: white;
        font-size: 18px;
    }
    .hrow2 .util {
        display: flex;
        font-size: 18px;
        color: white;
    }
    .hrow2 .util li {
        margin: 0 20px;
    }
    /* 메뉴 */
    .hrow3 {
        display: block;
    }
    .hrow3 .gnb {
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
    }
    .hrow3 .gnb h3 {
        font-size: 24px;
        /* margin-bottom: 10px; */
        cursor: pointer;
    }
    .hrow3 .gnb > li {
        margin: 0 50px;
    }
    .hrow3 .menu {
        display: none;
        justify-content: center;
        position: fixed;
        left: 0;
        width: 100%;
        font-size: 24px;
        border-top: 1px solid white;
        padding-bottom: 0;
    }
    .hrow3  .menu > li {
        margin: 10px 50px;
    }
    .hrow3 .menu > li:last-child {
        margin-bottom: 0px;
    }
    /* header 클릭 시 */
    header.active,
    header.active .menu {
        background-color: white;
    }
    header.active .glass,
    header.active .hrow2, 
    header.active .util,
    header.active .gnb {
        color: black;
        border-color: black;
    }
    /* 헤더 끝 */

    /* 메인 배너 */
    .s1 {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }
    .s1 .wrap {
        position: relative;
        height: 100%;
    }
    .s1 .pc_img {
        display: block;
        width: 100%;
    }
    .s1 .mobile_img {
        display: none;
    }
    .s1 .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 30px 0;
        background-color: rgba(0, 0, 0, .4);
    }
    .s1 .slick-dots button {
        position: relative;
        border: 0;
        width: 150px;
        height: 215px;
        margin: 0 5px;
        font-size: 0;
    }
    .s1 .slick-dots li:nth-child(1) button {
        background: url('../images/main_poster1.jpg') no-repeat center / cover;
    }
    .s1 .slick-dots li:nth-child(2) button {
        background: url('../images/main_poster2.jpg') no-repeat center / cover;
    }
    .s1 .slick-dots li:nth-child(3) button {
        background: url('../images/main_poster3.jpg') no-repeat center / cover;
    }
    .s1 .slick-dots button.active {
        border: 5px solid #aaa;
    }
    .s1 .slick-dots button.active::before {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }
}
